<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>
.container-weather{
  border: 0.5px solid grey;
  border-radius: 5px;
}
h3{
  font-weight: bold
}
h4{
  font-weight: bold
}

</style>
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars...</h1>
      <p>Exploring the Red Planet</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
  </div> 
  <div class="container-fluid">  
    <div class="page-header">
      <h1>Mars Latest News</h1>
      <h3>{{mars_info.news_title}}</h3>
      <p>{{mars_info.news_overview}}</p>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
        <div class="row">
            <div class="col-sm-8">
              <h3>Featured Mars Image</h3>
              <img src="{{mars_info.featured_image}}" class="rounded float-left" style="width:800px;height:600px;" alt="Mars">
            </div>

            <div class="col-sm-3">
                <div class="container-weather">
                    <h3>Current weather on Mars</h3>
                    <p>{{mars_info.mars_weather}}</p>
                </div>
                <div class="container-dimensions">
                    <h3>Mars Facts</h3>
                    <p>{{mars_info.mars_dimensions|safe}}</p>
                </div>
            </div>
            <div class="col-sm-1"></div>   
        </div>
    <div class="container-fluid">
        <div class="row-hemispheres-titles">
            <h3>Mars Hemispheres</h3>
        </div> 
        <div class="row-hemispheres-image">
        <div class="row">
          {% for link in mars_info.mars_hemisphere_url %}
              <div class="col-sm-6">
                <figure class="figure">
                    <h4 class="card-title">{{link.title}}</h4>
                    <img src={{link.url}} class="figure-img img-fluid rounded" style="width:600px;height:600px;" alt="Hemispheres">
                </figure>
              </div>  
          {% endfor %} 
        </div>  
        </div> 
    </div>  
  </div>
  </div>
</body>

</html>
